/* ======================================== */
/* COLOURS */
/* ======================================== */
/* basics */
/* bg + nav fonts */
/* form details */
/* ======================================== */
/* BREAKPOINTS*/
/* ======================================== */
/* == up to 375  */
/* == from 375  */
/* == up to 600  */
/* == from 600  */
/* == from 600 to 768 */
/* == from 600 to 992 */
/* == from 600 to 1200 */
/* == up to 768  */
/* == from 768  */
/* == from 768 to 992  */
/* == from 768 to 1200  */
/* == from 992  */
/* == up to 992  */
/* == up to 1200  */
/* == from 1200  */
/* ======================================== */
/* MARGINS  */
/* ======================================== */
/* ======================================== */
/* PADDINGS  */
/* ======================================== */
/* ======================================== */
/* SIZE */
/* ======================================== */
/* ======================================== */
/* POSITION */
/* ======================================== */
/* ======================================== */
/* BORDER-RADIUS */
/* ======================================== */
/* ======================================== */
/* TRANSITIONS */
/* ======================================== */
/* ======================================== */
/* EFFECTS */
/* ======================================== */
/* ======================================== */
/* FLEXBOX */
/* ======================================== */
/* ================================== */
/* Fonts */
/* ================================== */
@font-face {
  font-family: "DMSans-regular";
  src: url("../assets/fonts/DMSans/DMSans-regular.ttf") format("ttf");
  src: url("../assets/fonts/DMSans/DMSans-regular.eot") format("eot");
  src: url("../assets/fonts/DMSans/DMSans-regular.woff") format("woff");
}
@font-face {
  font-family: "DMSans-medium";
  src: url("../assets/fonts/DMSans/DMSans-medium.ttf") format("ttf");
  src: url("../assets/fonts/DMSans/DMSans-medium.eot") format("eot");
  src: url("../assets/fonts/DMSans/DMSans-medium.woff") format("woff");
}
@font-face {
  font-family: "DMSans-bold";
  src: url("../assets/fonts/DMSans/DMSans-bold.ttf") format("ttf");
  src: url("../assets/fonts/DMSans/DMSans-bold.eot") format("eot");
  src: url("../assets/fonts/DMSans/DMSans-bold.woff") format("woff");
}
@font-face {
  font-family: "DMSans-italic";
  src: url("../assets/fonts/DMSans/DMSans-italic.ttf") format("ttf");
  src: url("../assets/fonts/DMSans/DMSans-italic.eot") format("eot");
  src: url("../assets/fonts/DMSans/DMSans-italic.woff") format("woff");
}
@font-face {
  font-family: "DMSans-bold-italic";
  src: url("../assets/fonts/DMSans/DMSans-bold-italic.ttf") format("ttf");
  src: url("../assets/fonts/DMSans/DMSans-bold-italic.eot") format("eot");
  src: url("../assets/fonts/DMSans/DMSans-bold-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/fonts/roboto/roboto-regular.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-regular.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../assets/fonts/roboto/roboto-medium.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-medium.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-medium.woff") format("woff");
}
/* ================================== */
/* General rules */
/* ================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*     transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out; */
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

input {
  border: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

/* h1, h2, h3, h4 {font-weight: normal !important; } */
/* =============================================== */
/* MAIN BUTTON ===== */
/* =============================================== */
.btn {
  background: #FE142F;
  color: #fff;
  /* font-weight: 200 !important; */
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-radius: 8px;
  /* @include box-shadow; */
  /* padding: 0% 3%; */
}
@media screen and (max-width: 600px) {
  .btn {
    height: 30px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.btn:hover {
  background: #ab0114;
  box-shadow: 0px 12px 10px #707070;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 600px) {
  .btn--signup {
    height: 35px;
    padding: 0% 8%;
    font-size: 1rem;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .btn--signup {
    height: 45px;
    font-size: 1.5rem;
    padding: 0% 2%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.btn--submit {
  margin: auto;
  padding: 0% 15%;
}
@media screen and (min-width: 600px) {
  .btn--submit {
    height: 38px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .btn--submit {
    width: 200px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

/* ================================== */
/* HEADER */
/* ================================== */
.header {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header {
    height: 12vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .header {
    height: 15vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__logo-wrapper {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .header__logo-wrapper {
    width: 95px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__logo-wrapper img {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.header__nav {
  /* after 992px : nav elements in row */
}
@media screen and (min-width: 992px) {
  .header__nav {
    display: flex;
    flex-flow: row nowrap;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__nav .burger {
  /* after 992px : burger menu = not visible */
}
@media screen and (min-width: 992px) {
  .header__nav .burger {
    display: none;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__nav .burger i {
  color: #FE142F;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* xs-viewport: burger icon = 18px */
  /* xs-viewport onwards : burger icon = 5% viewport */
}
@media screen and (max-width: 375px) {
  .header__nav .burger i {
    font-size: 1.3rem;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 375px) {
  .header__nav .burger i {
    font-size: 5vw;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__nav a:not(.burger) {
  /* mobile/tablet : nav elements = not visible */
  padding: 8px 16px;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .header__nav a:not(.burger) {
    display: none;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.header__nav a.active {
  background-color: #FE142F;
  color: #fff;
  border-radius: 5px;
  text-decoration: underline;
}

/* =============================================== */
/* FOOTER ===== */
/* =============================================== */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  footer {
    height: 8.25vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  footer {
    height: 14.65vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    text-align: center;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    margin-left: 40px;
    justify-content: unset;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
footer .copyright-wrapper p {
  font-family: "Roboto-regular";
  color: #FE142F;
  font-size: 0.7rem;
}

/* ================================== */
/* SIGN-UP MODAL */
/* ================================== */
.signUp-modal-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  /* leave header visible */
}
@media screen and (max-width: 600px) {
  .signUp-modal-wrapper {
    top: 12vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .signUp-modal-wrapper {
    top: 0;
    height: 100vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.signUp-modal-wrapper__fields-wrapper {
  max-width: 100%;
  padding-top: 15px;
  background-color: #232323;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .signUp-modal-wrapper__fields-wrapper {
    width: 100%;
    margin: 0 auto;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .signUp-modal-wrapper__fields-wrapper {
    width: 550px;
    max-width: 100%;
    height: 850px;
    margin: 3vh auto;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.signUp-modal-wrapper__fields-wrapper .cancelModalBtn-wrapper {
  position: relative;
  /* for cancel btn absolute positioning */
  width: 100%;
}
.signUp-modal-wrapper__fields-wrapper .cancelModalBtn-wrapper .cancelModalBtn {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
}
.signUp-modal-wrapper__fields-wrapper .cancelModalBtn-wrapper .cancelModalBtn i {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem !important;
}
.signUp-modal-wrapper__fields-wrapper form {
  margin-left: 25px;
  margin-right: 25px;
  font-family: Roboto, Arial, sans-serif;
}
.signUp-modal-wrapper__fields-wrapper form .field.locations {
  display: flex;
  flex-flow: row wrap;
}
.signUp-modal-wrapper__fields-wrapper form .field.locations .choice {
  margin-right: 10px;
  min-height: 30px;
}
.signUp-modal-wrapper__fields-wrapper form .field.check {
  height: 90px;
}
.signUp-modal-wrapper__fields-wrapper form .field:not(.locations), .signUp-modal-wrapper__fields-wrapper form .field:not(.check) {
  height: 75px;
}
.signUp-modal-wrapper__fields-wrapper form .field {
  margin: 5% 0;
  /* all text input fields + date = one liner elements */
}
.signUp-modal-wrapper__fields-wrapper form .field *[type=text], .signUp-modal-wrapper__fields-wrapper form .field *[type=date] {
  display: block;
}
.signUp-modal-wrapper__fields-wrapper form .field label {
  font-family: DMSans-regular, Arial, sans-serif;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #fff;
}
.signUp-modal-wrapper__fields-wrapper form .field label:not(.city), .signUp-modal-wrapper__fields-wrapper form .field label:not(.lorem) {
  font-size: 0.8rem;
}
.signUp-modal-wrapper__fields-wrapper form .field label.lorem, .signUp-modal-wrapper__fields-wrapper form .field label.city {
  font-size: 0.6rem;
}
.signUp-modal-wrapper__fields-wrapper form .field label[for=location] {
  display: block;
  width: 50%;
}
.signUp-modal-wrapper__fields-wrapper form .field input {
  padding: 0 2%;
  /* class added with js validation */
}
.signUp-modal-wrapper__fields-wrapper form .field input:focus {
  outline: 0;
  border-color: #279E7A;
}
.signUp-modal-wrapper__fields-wrapper form .field input:valid:focus {
  border: 2px solid #279E7A;
}
.signUp-modal-wrapper__fields-wrapper form .field input .invalid {
  border: 2px solid #FE142F;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=text], .signUp-modal-wrapper__fields-wrapper form .field input[type=email], .signUp-modal-wrapper__fields-wrapper form .field input[type=date] {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=radio], .signUp-modal-wrapper__fields-wrapper form .field input[type=checkbox] {
  /* override default appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  transition: background 0.3s, border-color 0.3s;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=radio] {
  position: relative;
  /* to position inside knob */
  border: 1px solid #fff;
  border-radius: 50%;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=radio]:checked {
  border: 1px solid #279E7A;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=radio]::after {
  /* inside knob */
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=radio]:checked::after {
  background: #279E7A;
  opacity: 1;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=checkbox] {
  position: relative;
  background-color: lightgrey;
  border-radius: 5px;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=checkbox]:checked {
  background: #279E7A;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=checkbox]::after {
  /* check sign inside */
  content: "";
  display: block;
  position: absolute;
  border: 2px solid #fff;
  width: 4px;
  height: 10px;
  top: 10%;
  left: 35%;
  transform: rotate(43deg);
  border-top: 0;
  border-left: 0;
  opacity: 0;
}
.signUp-modal-wrapper__fields-wrapper form .field input[type=checkbox]:checked::after {
  opacity: 1;
}
.signUp-modal-wrapper__fields-wrapper form .field .requirements {
  visibility: hidden;
  padding: 1% 0%;
  font-size: 0.6rem;
  color: #FE142F;
  font-style: italic;
  transition: 0.28s;
}
.signUp-modal-wrapper .btn-wrapper {
  padding-bottom: 20px;
}
.signUp-modal-wrapper .btn-wrapper .submit-btn {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}

/* fade-in out modal anim */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */
h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 0;
  font-family: "DMSans-medium", Arial, sans-serif;
  font-size: 11vw;
  /* max size */
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 96px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

h2 {
  font-family: "DMSans-regular", Arial, sans-serif;
  font-size: 3vw;
  /* max size */
}
@media screen and (max-width: 600px) {
  h2 {
    margin: 20px 0px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 20px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

nav a {
  font-family: "DMSans-regular", Arial, sans-serif;
  font-size: 2vw;
  /* max size */
}
@media screen and (min-width: 992px) {
  nav a {
    font-size: 18px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS RULES === */
/* =============================================== */
header {
  width: 100%;
}

.homepage-content-wrapper {
  width: 85vw;
  margin: 0 auto;
  /*  100vh - header+footer height */
  /* FYI :
      FOOTER : max-600px {height: 8.25vh;} / min-600px {height: 14.65vh;} */
  /*  HEADER : max-600px { height:12vh;} / min-600px { height: 15vh; } */
  /* =============================================== */
  /* PRESENTATION SECTION ===== */
  /* =============================================== */
}
@media screen and (max-width: 600px) {
  .homepage-content-wrapper {
    height: 80vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .homepage-content-wrapper {
    height: 70vh;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.homepage-content-wrapper .presentation {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .homepage-content-wrapper .presentation {
    justify-content: space-between;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation {
    justify-content: center;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .homepage-content-wrapper .presentation__page-title {
    background-color: #232323;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__page-title {
    max-width: 660px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .homepage-content-wrapper .presentation__page-subtitle {
    width: 80%;
    text-align: center;
    margin: auto;
    /* padding: 60px 0; */
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__page-subtitle {
    max-width: 30%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) {
  .homepage-content-wrapper .presentation__page-title, .homepage-content-wrapper .presentation__page-subtitle {
    color: #fff;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__page-title, .homepage-content-wrapper .presentation__page-subtitle {
    margin-left: 50px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.homepage-content-wrapper .presentation__bloc-img {
  overflow: hidden;
  /* force img to the right */
}
@media screen and (min-width: 600px) {
  .homepage-content-wrapper .presentation__bloc-img {
    /* block image goes to bg */
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #232323;
    /* + dark block on img left */
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .homepage-content-wrapper .presentation__bloc-img {
    top: 150px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__bloc-img {
    top: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__bloc-img picture {
    display: flex;
    flex-direction: row-reverse;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.homepage-content-wrapper .presentation__bloc-img picture img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation__bloc-img picture img {
    max-width: 60%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
.homepage-content-wrapper .presentation .btn-wrapper {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .homepage-content-wrapper .presentation .btn-wrapper {
    margin-bottom: 3%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .homepage-content-wrapper .presentation .btn-wrapper {
    margin-bottom: 5%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (max-width: 1200px) {
  .homepage-content-wrapper .presentation .btn-wrapper {
    justify-content: center;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .homepage-content-wrapper .presentation .btn-wrapper {
    justify-content: start;
    margin-left: 50px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
}

/*# sourceMappingURL=main.css.map */
