
/* =============================================== */
/* FOOTER ===== */
/* =============================================== */

footer { 
    position:fixed;
    width:100%;
    bottom: 0;        
    display: flex;
    align-items: center;
    justify-content: center;
    @include max-600px {height: 8.25vh;}
    @include min-600px {height: 14.65vh;}
    @include max-1200px {text-align: center;}
    @include min-1200px {margin-left: 40px;justify-content: unset;}
    .copyright-wrapper {
        p { font-family: 'Roboto-regular';
            color: $red-main;
            font-size: 0.7rem;
        }
    }
}

