/* ================================== */
/* HEADER */
/* ================================== */

.header {
    @include flex-row-nowrap;
    justify-content: space-between;
    @include max-600px { height:25px;}
    @include min-600px { height:50px; }
    
    &__logo-wrapper {
        @include max-600px { width: 95px;}
        width:25%;
        img { @include centered; max-width: 100%; }
    }
    &__nav {
        /* after 992px : nav elements in row */ 
        @include min-992px { @include flex-row-nowrap; }

        .burger { 
             /* after 992px : burger menu = not visible */
            @include min-992px { display: none; } 
            i { 
                @include icon-base;
                /* xs-viewport: burger icon = 18px */
                @include max-375px { @include icon-size; }
                /* xs-viewport onwards : burger icon = 5% viewport */
                @include min-375px { font-size: 5vw; }
            }
        }
            
        a:not(.burger) { 
            /* mobile/tablet : nav elements = not visible */
            @include max-992px{ display: none; }
            padding: 12px 16px;
            margin: auto;
        }
        a.active { 
            background-color: $red-main;
            color: $white;
            @include border-radius((5px));
            text-decoration: underline;
        }
    }
}