@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */

h1, h2 { font-weight: normal;}
h1 {
    @include max-600px { margin: 10px 0px; } 
    font-family:'DMSans-medium';
    font-size: 12vw;
    @include min-992px {font-size: 96px; } /* max size */
}
h2 {
    font-family:'DMSans-regular';
    font-size: 3vw;
    @include min-992px {font-size: 24px; } /* max size */
    @include max-600px { margin: 20px 0px; } 
}
nav a { 
    font-family:'DMSans-regular';
    font-size: 2vw;
    @include min-992px {font-size: 18px; } /* max size */
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS RULES === */
/* =============================================== */

header, section  {
    /* for viewport 375: 25px = 0.66vw */
    @include max-600px { margin: 0vw 6.66vw 6.66vw 6.66vw; }
    /* for viewport 600: 50px = 8.33vw */
    @include min600px-max992px { margin-left: 8.33vw; margin-right: 8.33vw; }
    /* for viewport 992: 100px = 13vw */
    @include min-992px { margin-left: 13vw; margin-right: 13vw; }
}
header { 
    @include max-600px { padding-top: 30px; }
    @include min-600px { padding-top: 50px; margin-bottom: 80px;}
}
.homepage-content-wrapper {
    @include min-600px { margin-bottom: 100px;}
}
footer { 
    @include min-600px { margin-bottom: 60px; margin-left: 40px;}
    @include max-600px { margin-left: 25px; margin-right: 25px; text-align: center;}
}


/* =============================================== */
/* PRESENTATION SECTION ===== */
/* =============================================== */
.presentation {

    &__page-title { 
        background-color: pink;
       /* display: inline-block;  - gives a shrink-to-fit width, up to specified max-width value. */
        max-width: 100%;
    }

    &__bloc-img {

        .img-wrapper {
/*          object-fit: contain;
            overflow:hidden; */
            picture img {
                max-width: 100%;
                display: block;
                border-radius: 5px;
            }
        }
    }
}

/* =============================================== */
/* SIGN-UP SECTION ===== */
/* =============================================== */
.signup { 
    &__btn-wrapper button { @include mlmr-auto; }
}
