@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */

h1, h2 { font-weight: normal;}
h1 {
    font-family:'DMSans-medium';
    font-size: 3.5rem;
    @include max-600px { margin: 10px 0px; } 
}
h2 {
    font-family:'DMSans-regular';
    font-size: 0.9rem;
    @include max-600px { margin: 20px 0px; } 
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS RULES === */
/* =============================================== */

header, section  {
    @include max-600px { margin: 0px 25px 25px 25px; }
    @include min-600px { margin-left: 100px; margin-right: 100px; }
}
header { 
    @include max-600px { padding-top: 30px; }
    @include min-600px { padding-top: 50px; margin-bottom: 80px;}
}
.homepage-content-wrapper {
    @include min-600px { margin-bottom: 100px;}
}
footer { 
    @include min-600px { margin-bottom: 60px; margin-left: 40px;}
    @include max-600px { margin-left: 25px; margin-right: 25px; text-align: center;}
}


/* =============================================== */
/* PRESENTATION SECTION ===== */
/* =============================================== */
.presentation {

    &__bloc-img {

        .img-wrapper {
/*          object-fit: contain;
            overflow:hidden; */
            picture img {
                max-width: 100%;
                display: block;
                border-radius: 5px;
            }
        }
    }
}

/* =============================================== */
/* SIGN-UP SECTION ===== */
/* =============================================== */
.signup { 
    &__btn-wrapper button { @include mlmr-auto; }
}
