@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */

header, section  {
    @include max-600px { margin: 0px 25px 25px 25px; }
    @include min-600px {margin-left: 100px;margin-right: 100px; }
}
header { 
    @include max-600px { padding-top: 30px; }
    @include min-600px { padding-top: 50px; margin-bottom: 80px;}
}
.homepage-content-wrapper {
    @include min-600px { margin-bottom: 100px;}
}
footer { @include min-600px { margin-bottom: 60px;} }



/* HEADER ===== */
/* ===================== */
.header {
    &__logo-wrapper {
        @include max-600px { width: 95px; height:25px }
        img { @include centered; max-width: 100%; }
    }
}


/* PRESENTATION SECTION ===== */
/* ===================== */
.presentation {

    &__bloc-img {

        .img-wrapper {
/*          object-fit: contain;
            overflow:hidden; */
            picture img {
                max-width: 100%;
                display: block;
                border:5px solid red;
            }
        }
    }
}