/* ======================================== */
/* COLOURS */
/* ======================================== */

/* basics */
$white: #fff;
$dark: #232323; /* bg + nav fonts */

$red-main: #FE142F;
$green: #279E7A;

$grey: #C4C4C4; /* form details */



