/* ================================== */
/* HEADER */
/* ================================== */

.header {
    height: 80px;
    @include flex-row-nowrap;
    justify-content: space-between;
    &__logo-wrapper {
        width: 95px;
    }
    &__nav {
        
    }
}