/* ================================== */
/* SIGN-UP MODAL */
/* ================================== */

.signUp-modal-wrapper {
        /* display: none; */
        background-color: $white;
        position: absolute;
        @include max-600px { top: 80px; } /* leave header visible */
        @include min-600px { top:0; }
        z-index:2;
        width:100%;
        height:100%;
        &__fields-wrapper {

            .cancelModalBtn-wrapper {
                position: relative; /* for cancel btn absolute positioning */
                width:100%;height: 20px;
                .cancelModalBtn { 
                    width: 15px; height:15px;
                    position: absolute; right:15px;
                    i { @include icon-base; color: $white; }
                }
            }
            @include max-600px {  width:100%; height:100%;}
            @include min-600px {  width:550px; max-width: 100%; height:850px; margin:auto; }
            width:50%;
            max-width: 100%;
            height:80%;
            padding-top: 6.66vw;
            margin: auto;
            background-color: $dark;
            @include border-radius(5px);
            
            form {
            margin-left:25px; margin-right: 25px;
            @include flex-col-nowrap;
            align-items: stretch;
            font-family: Roboto;
            color: $white;

            .check { height:20px; margin-top: 50px;margin-bottom: 50px;}
            .field {
                height:75px;
                margin-bottom: 10px;
                
                /* all text input fields + date = one liner elements */
                *[type="text"], *[type="date"] { display: block; }

                label { margin-bottom:10px;}
                label[for="location"] { display: block; width: 100%; }
                label { font-family: DMSans-regular; font-size:1rem; text-transform: capitalize;}

                input { margin-top: 10px;}
                /* all text & date input fields */
                input[type="text"],
                input[type="date"] { width: 100%; height: 45px; background-color: $white;  @include border-radius(5px);}
               /*  input[type="radio"],  input[type="checkbox"] { } */
                
                input[type="radio"] {
                    width: 30px; height: 30px;
                    position: relative; /* to position inside knob */
                    /* override default appearance */
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    border: 1px solid $white; border-radius: 50%;
                    &:focus {box-shadow: 1px 1px 1px $white; }

                    /* inside knob */
                    &:after { 
                        content:'';
                        display: block;
                        position: absolute;
                        @include centered;
                        width: 25px; height: 25px;border-radius: 50%;
                        /* opacity: 0; */
                        background-color: green;
                        &:active { opacity: 1;}
                    }
                }
            }
            }
        }
        .btn-wrapper button {@include mlmr-auto; }
}